.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  text-decoration: none;
  background-color: rgb(106, 155, 106);
  border: 10px solid rgb(195, 164, 164);
}

a {
  text-decoration: none;
}

.text {
  display: flex;
  padding-left: 20px;
}

.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text3 input{
  background-color: rgb(195, 195, 20);
  height: 30px;
  width: 50px;
  border: cursor: pointer;
  outline: none;
  margin-right: 100px;
}
