.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(214, 201, 201);
}

.navs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 40px;
}

.form input {
  height: 40px;
  width: 500px;
}

.navs2 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 30px;
}

.form a {
  display: flex;
  align-items: center;
}
