* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
}
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://img.freepik.com/free-photo/adorable-kid-playing-with-shadows_23-2151335984.jpg?t=st=1725102726~exp=1725106326~hmac=3350f6171ad51666bd0d25a3e6da9d37fbf48432a0d4963d12f93696fa5cbb45&w=1480");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: aliceblue;
  height: 100vh;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 25px black;
  height: 60px;
  width: 100%;
}
.logo h1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.logopart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.iconholder {
  display: flex;
  align-items: center;
  gap: 20px;
}
a {
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon {
  color: white;
}
.rightpart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart {
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
}

.text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 140px;
}
.textarea {
  text-align: center;
}
.textarea h1 {
  text-transform: capitalize;
}
.textarea p {
  text-transform: lowercase;
  font-size: 10px;
}

.form {
  display: flex;
  align-items: center;
}
.form input {
  height: 40px;
  width: 400px;
  border: none;
  outline: none;
  padding-left: 20px;
}
.form a {
  background-color: rgba(217, 200, 13, 0.937);
  height: 40px;
  width: 80px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1;
}

.heading h1 {
  padding-left: 20px;
}

.image {
  height: 180px;
  width: 180px;
  border: 8px solid black;
  position: relative;
  overflow: hidden;
}
.image::after {
  content: "Portrait";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 10px;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.allImageWrapper {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
